.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.AppScroller {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 10rem;
}
.AppCenteredCol {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hud {
  --glassColor: hsla(209deg, 100%, 55%, 0.1);
  background-color: var(--glassColor);
  backdrop-filter: blur(2px);
  border: 1px solid hsla(0deg, 0%, 50%, 0.2);
  z-index: 10;
}

.hudBottom {
  border-left: none;
}

.hudTop {
  border-top: none;
  border-right: none;
}

@keyframes tick {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}

.hoverableLight {
  transition: all 0.1s ease-out;
  cursor: pointer;
}
.hoverableLight:hover {
  background-color: hsla(209deg, 100%, 92%, 0.1);
}

.DebugHeader {
  --bgCol: hsla(0, 0%, 50%, 0.1);
  background: var(--bgCol);
}
.hoverableDebugHeader {
  transition: all 0.1s ease-out;
  cursor: pointer;
  background: transparent;
}
.hoverableDebugHeader:hover {
  background: var(--bgCol);
}
